## 前處理
### 讀入資料庫

In [43]:
import time
import numpy as np
import pandas as pd

EXECUTION_START_TIME = time.time()

df = pd.read_csv('google_review_ratings.csv')

In [2]:
# import
pd.options.mode.chained_assignment = None      # 解決會噴 warning 的狀況

import matplotlib.pyplot as plt
import seaborn as sns

### 填補缺失值
先檢查是否有缺失值

In [50]:
data = df[['Category 1','Category 2','Category 3','Category 4','Category 5', 'Category 6','Category 7','Category 8','Category 9','Category 10']]
print(data.describe())
data = df[['Category 11','Category 12','Category 13','Category 14','Category 15', 'Category 16','Category 17','Category 18','Category 19','Category 20']]
print(data.describe())
data = df[['Category 21','Category 22','Category 23','Category 24']]
print(data.describe())

        Category 1   Category 2   Category 3   Category 4   Category 5  \
count  5454.000000  5454.000000  5454.000000  5454.000000  5454.000000
mean      1.455746     2.320048     2.489059     2.797103     2.958904
std       0.827732     1.421576     1.247503     1.309188     1.338785
min       0.000000     0.000000     0.000000     0.830000     1.120000
25%       0.920000     1.360000     1.540000     1.730000     1.770000
50%       1.340000     1.910000     2.060000     2.460000     2.670000
75%       1.810000     2.687500     2.740000     4.097500     4.310000
max       5.000000     5.000000     5.000000     5.000000     5.000000

        Category 6   Category 7   Category 8   Category 9  Category 10
count  5454.000000  5454.000000  5454.000000  5454.000000  5454.000000
mean      2.893423     3.351476     2.541177     3.126542     2.832695
std       1.282101     1.413291     1.111398     1.356774     1.307299
min       1.110000     1.120000     0.860000     0.840000     0.810000
25%       1.790000     1.930000     1.620000     1.800000     1.640000
50%       2.680000     3.230000     2.170000     2.800000     2.680000
75%       3.837500     5.000000     3.190000     5.000000     3.527500
max       5.000000     5.000000     5.000000     5.000000     5.000000
       Category 11  Category 12  Category 13  Category 14  Category 15  \
count  5454.000000  5454.000000  5454.000000  5454.000000  5454.000000
mean      2.549622     2.078401     2.125820     2.190429     2.206140
std       1.381498     1.249315     1.406682     1.576505     1.715848
min       0.780000     0.780000     0.770000     0.760000     0.000000
25%       1.580000     1.290000     1.190000     1.030000     0.860000
50%       2.000000     1.690000     1.610000     1.490000     1.330000
75%       3.217500     2.287500     2.360000     2.740000     4.440000
max       5.000000     5.000000     5.000000     5.000000     5.000000

       Category 16  Category 17  Category 18  Category 19  Category 20
count  5454.000000  5454.000000  5454.000000  5454.000000  5454.000000
mean      1.192710     0.949349     0.822525     0.969250     0.999626
std       1.107176     0.973628     0.948015     1.202883     1.193129
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.690000     0.580000     0.530000     0.520000     0.540000
50%       0.800000     0.740000     0.690000     0.690000     0.690000
75%       1.160000     0.910000     0.840000     0.860000     0.860000
max       5.000000     5.000000     5.000000     5.000000     5.000000
       Category 21  Category 22  Category 23  Category 24
count  5454.000000  5454.000000  5454.000000  5454.000000
mean      0.965275     1.749345     1.531051     1.560570
std       0.928326     1.597816     1.316180     1.171784
min       0.000000     0.000000     0.000000     0.000000
25%       0.570000     0.740000     0.790000     0.880000
50%       0.760000     1.030000     1.070000     1.290000
75%       1.000000     2.070000     1.560000     1.660000
max       5.000000     5.000000     5.000000     5.000000

發現Category 11怪怪的，所以印出來檢查看看資料型別
Category 12, 24各有1個缺失值，因為缺失值很少，所以把缺失值的資料刪除。

In [47]:
print(type(df['Category 11'][1]))
df = df[df['Category 12'].notnull()]
df = df[df['Category 24'].notnull()]

<class 'str'>

檢查後發現Category 11變成字串型別，做型別轉換後再印出來檢查一次

In [49]:
df['Category 11'] = df['Category 11'].astype(float)
data = df[['Category 1','Category 2','Category 3','Category 4','Category 5', 'Category 6','Category 7','Category 8','Category 9','Category 10']]
print(data.describe())
data = df[['Category 11','Category 12','Category 13','Category 14','Category 15', 'Category 16','Category 17','Category 18','Category 19','Category 20']]
print(data.describe())
data = df[['Category 21','Category 22','Category 23','Category 24']]
print(data.describe())

        Category 1   Category 2   Category 3   Category 4   Category 5  \
count  5454.000000  5454.000000  5454.000000  5454.000000  5454.000000
mean      1.455746     2.320048     2.489059     2.797103     2.958904
std       0.827732     1.421576     1.247503     1.309188     1.338785
min       0.000000     0.000000     0.000000     0.830000     1.120000
25%       0.920000     1.360000     1.540000     1.730000     1.770000
50%       1.340000     1.910000     2.060000     2.460000     2.670000
75%       1.810000     2.687500     2.740000     4.097500     4.310000
max       5.000000     5.000000     5.000000     5.000000     5.000000

        Category 6   Category 7   Category 8   Category 9  Category 10  ...  \
count  5454.000000  5454.000000  5454.000000  5454.000000  5454.000000  ...
mean      2.893423     3.351476     2.541177     3.126542     2.832695  ...
std       1.282101     1.413291     1.111398     1.356774     1.307299  ...
min       1.110000     1.120000     0.860000     0.840000     0.810000  ...
25%       1.790000     1.930000     1.620000     1.800000     1.640000  ...
50%       2.680000     3.230000     2.170000     2.800000     2.680000  ...
75%       3.837500     5.000000     3.190000     5.000000     3.527500  ...
max       5.000000     5.000000     5.000000     5.000000     5.000000  ...

       Category 16  Category 17  Category 18  Category 19  Category 20  \
count  5454.000000  5454.000000  5454.000000  5454.000000  5454.000000
mean      1.192710     0.949349     0.822525     0.969250     0.999626
std       1.107176     0.973628     0.948015     1.202883     1.193129
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.690000     0.580000     0.530000     0.520000     0.540000
50%       0.800000     0.740000     0.690000     0.690000     0.690000
75%       1.160000     0.910000     0.840000     0.860000     0.860000
max       5.000000     5.000000     5.000000     5.000000     5.000000

       Category 21  Category 22  Category 23  Category 24  Unnamed: 25
count  5454.000000  5454.000000  5454.000000  5454.000000          0.0
mean      0.965275     1.749345     1.531051     1.560570          NaN
std       0.928326     1.597816     1.316180     1.171784          NaN
min       0.000000     0.000000     0.000000     0.000000          NaN
25%       0.570000     0.740000     0.790000     0.880000          NaN
50%       0.760000     1.030000     1.070000     1.290000          NaN
75%       1.000000     2.070000     1.560000     1.660000          NaN
max       5.000000     5.000000     5.000000     5.000000          NaN

[8 rows x 25 columns]

### 轉換類別資料
把編號和要分析的feature分開來

In [18]:
data = df[['Category 1','Category 2','Category 3','Category 4','Category 5', 'Category 6','Category 7','Category 8','Category 9','Category 10','Category 11','Category 12','Category 13','Category 14','Category 15', 'Category 16','Category 17','Category 18','Category 19','Category 20','Category 21','Category 22','Category 23','Category 24']]
name = df[['User']]

       Category 12  Category 13  Category 14  Category 15
count  5455.000000  5456.000000  5456.000000  5456.000000
mean      2.078339     2.125511     2.190861     2.206573
std       1.249208     1.406542     1.576686     1.715961
min       0.780000     0.770000     0.760000     0.000000
25%       1.290000     1.190000     1.030000     0.860000
50%       1.690000     1.610000     1.490000     1.330000
75%       2.285000     2.360000     2.740000     4.440000
max       5.000000     5.000000     5.000000     5.000000

## 模型訓練

匯入需要的套件

In [4]:
from sklearn.cluster import KMeans

### 線性迴歸

In [17]:
model = KMeans(n_clusters = 3)
model.fit(data)

ValueError: could not convert string to float: '2\t2.'

### NN

In [13]:
model = MLPClassifier(solver='adam', random_state=1010,max_iter=1000)
model.fit(train_x,train_y['close'])

predict = model.predict(test_x)

tp = 0
tn = 0
fp = 0
fn = 0

for index in range(0,len(predict)) :
    if predict[index]==1:
        if train_y['close'][index]==1:
            tp = tp + 1
        else:
            fp = fp + 1
    else:
        if train_y['close'][index]==1:
            fn = fn + 1
        else:
            tn = tn + 1
print(tp)
print(fp)
print(tn)
print(fn)

print("Recall:{}".format(tp/(tp+fn)))
print("Position:{}".format(tp/(tp+fp)))
print("Accuracy:{}".format((tp+tn)/(tp+fp+tn+fn)))

109
72
38
29
Recall:0.7898550724637681
Position:0.6022099447513812
Accuracy:0.592741935483871

### Ensemble

In [14]:
model = RandomForestClassifier(random_state=1012,n_estimators=500)
model.fit(train_x,train_y['close'])

predict = model.predict(test_x)

tp = 0
tn = 0
fp = 0
fn = 0

for index in range(0,len(predict)) :
    if predict[index]==1:
        if train_y['close'][index]==1:
            tp = tp + 1
        else:
            fp = fp + 1
    else:
        if train_y['close'][index]==1:
            fn = fn + 1
        else:
            tn = tn + 1
print(tp)
print(fp)
print(tn)
print(fn)

print("Recall:{}".format(tp/(tp+fn)))
print("Position:{}".format(tp/(tp+fp)))
print("Accuracy:{}".format((tp+tn)/(tp+fp+tn+fn)))

104
72
38
34
Recall:0.7536231884057971
Position:0.5909090909090909
Accuracy:0.5725806451612904

In [15]:
# 請勿更動此區塊程式碼

EXECUTION_END_TIME = time.time() # 計算執行時間
print('total execution time: {}'.format(EXECUTION_END_TIME - EXECUTION_START_TIME))

total execution time: 5.140761852264404